<nav>
    <div class="topnav">
        <a href="/" class="active"><p id="realtime-text"><i class="fab fa-weixin"></i>REALTIME</p></a>
        <div id="myLinks">
          <a href="#">Services</a>
          <a href="#">Contact Us</a>
          <a href="#">About</a>
        </div>
        <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a> -->
    </div>
</nav>