body{
    font-family: 'Raleway', sans-serif;
	background-color: #ACCEDC;

}
*{
  margin:0;
  padding:0;

}
.main-section small{
	font-size: 12px;
}
.main-section h3, .main-section h5{
	margin: 0px;
}
.main-section{
	width: 100veh;
	background-color: whitesmoke;
	margin: auto;;
}
.head-section{
	clear: both;
	overflow: hidden;
	width: 100%;
}
.headLeft-section{
	width: calc(30% - 1px);
	float: left;
	border-right:1px solid #E6E6E6;
}
.headLeft-sub{
	padding: 15px;
  text-align: center;
  background-color: teal;
}
.headLeft-sub button{
	background: red;
	color: #fff;
	border:1px solid #E6E6E6;
	padding: 7px 15px;
}
.receiver{
	width: 100%;
  float: left;
  background-color: red;
}
.receiver-profile{
	padding: 10px 15px 0px 15px;
}

.body-section{
	clear: both;
	overflow: hidden;
	width: 100%;
}

.left-section{
	width: calc(30% - 1px);
	float: left;
	height: 500px;
	border-right:1px solid #E6E6E6;
	background-color: rgb(110, 64, 196);
	z-index: 1;
	position: relative;
}
.user-name {
    display: inline-block;
    margin-left: 50px;
    font-size: 40px;
}
.left-section ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.left-section ul li{
	padding: 15px 0px;
	cursor: pointer;
}
.chatList {
    height: 40;
}
li{
	display:grid;
}

.mCustomScrollBox, .mCSB_container{
	overflow: unset !important;
}


.chatList{
	overflow: hidden;
}

 .chatList .desc{
	width: calc(100% - 60px);
	float: left;
	position: relative;
}
.chatList .desc h5{
	margin-top: 6px;
	line-height: 5px;
}

.right-section{
	width: 70%;
	float: left;
	height: 500px;
	background-color: whitesmoke;
	position: relative;
}
.message{
	height: calc(100% - 68px);
	font-family: sans-serif;
}
.message ul{
	padding: 0px;
	list-style: none;
	margin: 0px auto;
	width: 90%;
	overflow:hidden;
}
.message ul li{
	position: relative;
	width: 80%;
	padding: 15px 0px;
	clear: both;
}
.message ul li.msg-left{
	float: left;
}
.message ul li.msg-left img{
	position: absolute;
	width: 40px;
	bottom: 30px;
}
.message ul li.msg-left .msg-desc{
	margin-left: 70px;
	font-size: 12px;
	background:  #a0a0a0;
	padding:5px 10px;
	border-radius: 5px 5px 5px 0px;
	position: relative;
}

.message ul li.msg-left small{
	float: right;
	color: #c1c1c1;
}

.message ul li.msg-right{
	float: right;
}
.message ul li.msg-right img{
	position: absolute;
	width: 40px;
	right: 0px;
	bottom: 30px;
}
.message ul li.msg-right .msg-desc{
	margin-right: 70px;
	font-size: 12px;
	background: #0fcc9d;
	color: black;
	padding:5px 10px;
	border-radius: 5px 5px 5px 0px;
	position: relative;
}

.message ul li.msg-right small{
	float: right;
	color: #c1c1c1;
	margin-right: 70px;
}

.message ul li.msg-day small{
	position: absolute;
	top: -10px;
	background: #d471cf;
	color: #c1c1c1;
	padding: 3px 10px;
	left: 50%;
	transform: translateX(-50%);
}
.right-section-bottom{
	background: #fff;
	width: 100%;
	padding: 15px;
	position: relative;
	bottom: 0px;
	border-top:1px solid #E6E6E6;
	text-align: center;
}
div#receiver-profile {
    background-color: cyan;
}
.topnav {
    overflow: hidden;
    background-color: #313131;
    position: relative;
}

.topnav #myLinks {
    float: right;
}

.topnav a {
    float: left;
    color: rgb(248, 248, 248);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.9rem;
}

.topnav a.icon {
    float: right;
    font-size: 1.9rem;
}

.topnav a:hover {
    background-color: black;
    color:white;
}

