<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../style.css">
    <link rel="stylesheet" href="/public/css/login.css">
    <!-- <script src="https://kit.fontawesome.com/6f38fb86b9.js" crossorigin="anonymous"></script> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css">
    <title>Chat</title>
  </head>
<body>

  <script src="js/jQuery.js"></script>
  <script src="js/socket.io.js"></script>

  <%- include('./partials/header.ejs')%>
  <div class="welcome">
    Hi! <%= name.toUpperCase() %>
    <a href="/logout">Logout</a>
  </div>
  <main>
    <div class="main-section">
      <div class="head-section">
        <div class="headLeft-section">
        <i class="fa fa-user" style="font-size:20px; color:aqua"></i>
        <div class="user-name">
          <p id="logged-user"><%= name %></p>
        </div>
        </div>
        </div>
         <div class="body-section">
           <div class="left-section mCustomScrollbar" data-mcs-theme="minimal-dark">
           <h3>All Users</h3>
             <ul>
              <li>
              <% for(var i=0; i!=users.length; i++) { %>
                <% if(users[i].username == name)continue; %>
                  <button class="user-connected">
                    <div class="chatList">
                      <div class="desc">
                      
                          <i class="fa fa-user" style="font: size 60px"></i>

                          <%= users[i].username %>
                       
                						</div>
                    </div>
                  </button>
              <% } %>
               </li>
             </ul>
        

           </div>
        
      
            <div class="right-section">
                 
              <div class="receiver">
                <div id="receiver-profile">
                  <h3>Please Select the reciever from All Users</h3>
                </div>
                <div>
                  <div class="message mCustomScrollbar" data-mcs-theme="minimal-dark">
                    <ul>
                    <li class="msg-left">
                      <div class="msg-left-sub">
                        <div class="msg-desc">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        </div>
                      </div>
                    </li>
                    </ul>
                    <ul>
                      <li class="msg-left">
                        <div class="msg-left-sub">
                          <div class="msg-desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit
                          </div>
                        </div>
                      </li>
                      </ul>
                  <ul id="chat-messages">

                  </ul>  
                  </div>
             
               
						
                  
                
                </div>

                				<div class="right-section-bottom">

                <form id="sendMessageForm">
                  <input type="text" id="message" placeholder="Enter message">
                  <input id="sendMessage" type="submit" value="   ->">
                </form>
              </div>
              </div>


      

             </div>
         </div>
      </div>

    </div>
  </main>

  <script>
    let ioi = io();
    let receiver = '';
    let sender = document.getElementById('logged-user').innerText;
    
    ioi.emit("user_connected");
    let clientSocketName;
    let userConnected = document.querySelectorAll('.user-connected')
    for(let i=0; i<userConnected.length; i++){
      userConnected[i].addEventListener('click', function(){
        receiver = userConnected[i].innerText;
        document.getElementById('receiver-profile').innerText = "Receiver: "+receiver;
        console.log(receiver);
        ioi.emit('receiverRequest', {receiver, sender});
        ioi.on('receiverResponse', function(data){

          clientSocketName = receiver;
          console.log(data);
          document.getElementById('chat-messages').innerHTML ="";
          for(let i=0; i<data.length; i++){
            if(sender == name){
              document.getElementById('chat-messages').innerHTML+='<li>'+data[i].sendmessage+'</li>'
            }else{
              document.getElementById('chats-messages').innerHTML+='<li>'+data[i].sendmessage+'</li>'

            }
          }
        });
      })
    }
    document.getElementById('sendMessage').addEventListener('click', function(event){
        event.preventDefault();
        sendMessage();
      });
    function sendMessage(){
      
      //get message
      
      let message = document.getElementById('message').value;
      //send message to server
      ioi.emit("send_message",{
        sender: sender,
        receiver: receiver,
        message: message
      })
      //document.getElementById('chats-messages').innerHTML += "<li>"+message+"</li>";
    }
      //listen from server
    ioi.on("new_message", function(data){
      document.getElementById('chats-messages').innerHTML += "<li>"+data+"</li>";
    
        document.getElementById('chat-messages').innerHTML += "<li class='msg-left'>"
          "<div class='msg-left-sub'>"
            "<div class='msg-desc'>"
                +data+
            "</div>"
          "</div>"
          "</li>";
    })
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
</body>
</html>
