<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <%- include('partials/messages') %>
<form action="/signup" method="POST">
    <input class="border-radius" id="username" type="username" placeholder="username" name="username">
    <input class="border-radius" id="email" type="email" placeholder="email" name="email"><br>
    <p channel="gap1"></p>
    <input class="border-radius" id="Password" type="password" placeholder="Password" name="password"><br>
    <input id="log-in" class="gap2" type="submit" value="signup"><br>
</form>    
</body>
</html>

