<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up: Realtime</title>
</head>
<body>
    
    
    <%- include('partials/messages') %>
    <form action="/signup" method="POST" style="text-align: center; margin-top: 20vh;">
        <hr>
        <Label for="username">Enter Username</Label>
        <input class="border-radius" id="username" type="username" placeholder="username" name="username"><br><br>
        <label for="email">Enter Email address</label>
        <input class="border-radius" id="email" type="email" placeholder="email" name="email"><br><br>
        <label for="password">Enter Password</label>
        <input class="border-radius" id="Password" type="password" placeholder="Password" name="password"><br><br>
        <input id="log-in" class="gap2" type="submit" value="signup"><br>
        <hr>
    </form>    
</body>
</html>