<html><body>
<div class="chat-container">

    <div class="user">
        <div class="profile">
            <!-- <img src= <%= img-source %> class="profile-img"> -->
            
        </div>
        <form class="search-box">
            <i></i><input type="text" name="search" id="search">
            <input type="submit">
        </form>
        <div class="all-users">
            <!-- <% data.forEach((items)=>{ %>
                <div class="user"><%= items.Name %></div>
                <% }); %> -->
        </div>
    </div>    

    <div class="receiver">
        <div class="receiver-profile">
            <!-- <img src= <%= receiver.img %> > -->
        </div>
        <div class="messages">
            <!-- <% receiver.forEach((items)=>{
            <div class="chat prev"><%= items.msg %></div>
            <% }); %> -->

        </div>
        <div class="send-message">
            <form action="" class="send-message-box">
                <input type="text" name="" id="type-message">
                <input type="submit">
            </form>
        </div>
    </div>

</div>
</body></html>