
<div class="box">
<form id="form">
  <div class="form-group">
    <label for="exampleInputName" class="fa fa-name"><li>Name</li></label> 
    <input type="text" class="form-control" id="name" >
    <label for="exampleInputEmail1" class="fa fa-email"><li>Email address</li></label> 
        <a href="#">
          <span class="glyphicon glyphicon-envelope"></span>
        </a>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1"><li>Password</li></label>
    <a href="#">
        <span class="glyphicon glyphicon-lock"></span>
      </a>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<h2>Already Have an Account ?</h2>
<button>
Login
</button>
</div>

